<style scoped lang="sass">
    @import "assets/sass/base_variables"

    .company
        &__header
            margin-bottom: 20px

            h2
                color: #999

        &__addresess
            margin-bottom: 20px

        &__images
            margin-bottom: 20px

        &__categories
            margin-bottom: 20px

            a
                margin: 0 1px 5px 0
                text-transform: uppercase

        &__contacts
            margin-bottom: 20px

            .tags
                margin: 0 5px 2px 0

                .tag
                    font-size: 13px
                    line-height: 14px
                    font-weight: bold
                    margin-bottom: 3px
                    background-color: $base_color_white

                    &:first-child
                        border: 1px solid lighten($base_color_blue, 30%)
                        padding-right: 6px

                    &:last-child
                        border: 1px solid lighten($base_color_blue, 30%)
                        border-left: none
                        padding-left: 6px
                        padding-right: 15px

                    a
                        color: $base_color_blue

                        &:hover
                            text-decoration: underline

        &__info
            margin-bottom: 50px

        &__prices
            &__item
                border: 1px dashed #eee
                padding: 5px 10px
                margin-bottom: 3px

                &:hover
                    background-color: #eee
                    border-color: #ccc

</style>


<template>
    <div class="container two-columns-content companies-list">
        <div class="columns">
            <aside class="column is-3 two-columns-content__sidebar is-hidden-mobile">
                <add-company-banner />
                <share-company :company-name="name" />
            </aside>
            <section class="column is-9 two-columns-content__section">
                <div class="company">
                    <div class="company__header">
                        <div class="columns">
                            <div class="column">
                                <h1 class="is-1 title">
                                    {{ name }}
                                </h1>

                                <h2 class="is-4 subtitle">
                                    {{ occupation }}
                                </h2>
                            </div>

                            <div class="column is-narrow">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="company__categories">
                    <a href="#" class="tag is-primary">
                        category one
                    </a>
                    <a href="#" class="tag is-primary">
                        category two
                    </a>
                </div>

                <div class="company__info">
                    <div class="company__addresess">
                        <div>
                            company address
                        </div>
                    </div>

                    <div class="company__contacts">
                        <div class="tags">
                            contacts here
                        </div>
                    </div>
                </div>


                <div class="columns">
                    <div class="column">
                        <div class="content">
                            <div v-html="description"></div>
                        </div>
                    </div>

                    <div class="column">
                        <div class="company__images">
                            images here
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</template>


<script>
    import {mapActions, mapGetters, mapMutations} from 'vuex';
    import ShareCompany from "~/components/companies/ShareCompany";
    import AddCompanyBanner from "~/components/companies/AddCompanyBanner";

    export default {
        components: {
            ShareCompany,
            AddCompanyBanner
        },
        data: () => ({
            componentValue: 'component value here',
        }),
        computed: {
            ...mapGetters({
                name: 'company/getName',
                occupation: 'company/getOccupation',
                description: 'company/getDescription',
                phone: 'company/getPhone',
            }),
        },
        async asyncData({store, params, error}) {
            await store
                .dispatch('company/fetch', params.slug)
                .catch(err => {
                    return error({statusCode: 404, message: 'Company not found'})
                });
        }
    }
</script>
