<style scoped lang="sass">
    .companies-page
        .add-company-icon
            width: 20px
            height: 20px
            margin-right: 5px !important
</style>


<template>
    <div class="companies-page container two-columns-content companies-list">
        <div class="columns">
            <aside class="column is-3 two-columns-content__sidebar is-hidden-mobile">
                <div class="sidebar-box">
                    <CompaniesFilter />
                </div>

                <div class="sidebar-box">
                    <h2 class="title is-5">
                        Category name
                    </h2>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta distinctio impedit omnis
                        recusandae vero? Alias cumque dignissimos impedit nisi perspiciatis quaerat qui tempora tempore.
                        Adipisci aliquam ducimus ex numquam provident!
                    </p>
                </div>


                <div class="sidebar-box">

                    <div class="title is-5">
                        Add company
                    </div>

                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae cumque dignissimos
                        doloribus eius enim esse est, eveniet incidunt laboriosam nobis omnis possimus, praesentium
                        repellendus saepe similique veritatis? Asperiores, consequatur?
                    </p>

                    <a class="button is-small is-primary">
                        <span class="icon add-company-icon">
                            <img src="/icons/catalog.svg"
                                 alt="catalog">
                        </span>

                        Add company
                    </a>

                </div>
            </aside>


            <section class="column is-9 two-columns-content__section">
                <h1 class="list-title">
                    Category title
                </h1>

                <div class="list-subtitle">
                    Category subtitle
                </div>

                <CompaniesList />
            </section>
        </div>
    </div>
</template>


<script>
    import CompaniesFilter from '~/components/companies/CompaniesFilter';
    import CompaniesList from '~/components/companies/CompaniesList';
    import {mapActions, mapGetters, mapMutations} from 'vuex';

    export default {
        components: {
            CompaniesFilter,
            CompaniesList,
        },
        computed: {
            ...mapGetters({
                companies: 'companies/getCompanies',
                isWait: 'companies/isWait',
            }),
        },
        mounted() {
            this.$store.dispatch('companies/fetch');
        }
    }
</script>
