<template>
    <div class="container">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="content">
                        admin side
                    </div>
                </div>
            </article>
        </div>

        <nuxt-link to="/">
            Home page
        </nuxt-link>
    </div>
</template>
