html
    background-color: $base_color_gray

body
    background-color: $base_color_gray
    //background-image: url('/static/images/bg-s.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-attachment: fixed

.page
    display: flex
    min-height: 100vh
    flex-direction: column

    &__content
        overflow: hidden
        flex: 1

        &__bg
            background-color: $base_color_white
            padding: 20px
            margin-bottom: 50px

            +mobile
                margin-bottom: 0
                border-bottom: 1px solid $base_color_white

            &_gray
                background-color: $base_color_gray
                color: #ddd

    &__nav
        +tablet
            margin-bottom: 50px

.list-title
    font-family: $font_family_headers
    font-size: 27px
    margin-bottom: 24px
    text-transform: uppercase

    &_white
        color: #eee

.list-subtitle
    font-family: $font_family_headers
    font-size: 18px
    margin-bottom: 24px
    color: #999
    text-transform: uppercase

.list-title + .list-subtitle
    margin-top: -24px
