.form-single
    margin-bottom: 30px

    &__wrap
        background-color: $base_color_white
        padding: 30px 30px 20px
        margin-bottom: 60px


.v-select
    .clear
        span
            font-family: sans-serif