<style scoped lang="sass">
    @import "assets/sass/base_variables"
    @import "~bulma/sass/utilities/initial-variables.sass"
    @import "assets/sass/bulma/variables"
    @import "~bulma/sass/utilities/functions.sass"
    @import "~bulma/sass/utilities/derived-variables.sass"
    @import "~bulma/sass/utilities/animations.sass"
    @import "~bulma/sass/utilities/mixins.sass"

    .navbar
        background-color: $base_color_yellow
        font-size: 14px
        text-transform: uppercase

        &__logo
            font-size: 20px
            font-weight: bold
            font-family: $font_family_headers
            color: $base_color_white
            text-transform: uppercase

            span
                font-family: $font_family_headers
                color: $base_color_gray
                margin: auto 2px

        .navbar-item
            text-transform: uppercase

        .navbar-brand
            .navbar-item
                +desktop
                    padding-left: 0

                &:hover
                    background-color: transparent

        .navbar-end
            .navbar-item:last-child
                +desktop
                    padding-right: 0


        .navbar-burger
            background-color: transparent
            border: none

        &__link-icon
            width: 20px
            height: 20px

        &__user-name
            text-transform: none

        &__logout
            text-transform: none
            margin-left: 10px
            padding-left: 10px
            border-left: 1px solid $base_color_gray
            color: $base_color_gray
</style>


<template>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="container">

            <div class="navbar-brand">
                <a class="navbar-item" href="/">
                    <span class="navbar__logo">
                        house<span>repair</span>.info
                    </span>
                </a>

                <!--                <burger-menu v-cloak>-->
                <!--                    <div slot="main-links">-->
                <!--                        <a class="navbar-item" href="{{ route('companies.list') }}">-->
                <!--                            компании-->
                <!--                        </a>-->
                <!--                        <a class="navbar-item" href="{{ route('companies.categories') }}">-->
                <!--                            разделы-->
                <!--                        </a>-->
                <!--                        <a class="navbar-item" href="{{ route('companies.services') }}">-->
                <!--                            услуги-->
                <!--                        </a>-->
                <!--                    </div>-->

                <!--                    <div slot="subitems">-->
                <!--                        @if(auth()->check())-->
                <!--                        <a href="" class="">-->
                <!--                            {{ auth()->user()->name }}-->
                <!--                        </a>-->

                <!--                        <a href="{{ route('logout') }}"-->
                <!--                           class=""-->
                <!--                           onclick="event.preventDefault(); document.getElementById('logout-form').submit();">-->
                <!--                            выход-->
                <!--                        </a>-->
                <!--                        @else-->
                <!--                        <a class="button is-small is-primary is-outlined" href="{{ route('login') }}">-->
                <!--                            <span class="icon">-->
                <!--                                <svg class="navbar__link-icon">-->
                <!--                                    <use xlink:href="#user-auth"></use>-->
                <!--                                </svg>-->
                <!--                            </span>-->

                <!--                            <span>-->
                <!--                                Вход-->
                <!--                            </span>-->
                <!--                        </a>-->


                <!--                        <a class="button is-small is-primary is-outlined" href="{{ route('register') }}">-->
                <!--                            <span class="icon">-->
                <!--                                <svg class="navbar__link-icon">-->
                <!--                                    <use xlink:href="#user-reg"></use>-->
                <!--                                </svg>-->
                <!--                            </span>-->

                <!--                            <span>-->
                <!--                                Регистрация-->
                <!--                            </span>-->
                <!--                        </a>-->
                <!--                        @endif-->
                <!--                    </div>-->
                <!--                </burger-menu>-->
            </div>


            <div class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/">
                        {{ $t('navigation.companies') }}
                    </a>
                    <a class="navbar-item" href="/">
                        {{ $t('navigation.store') }}
                    </a>
                    <a class="navbar-item" href="/">
                        {{ $t('navigation.services') }}
                    </a>
                    <a class="navbar-item" href="/">
                        {{ $t('navigation.prices') }}
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <nuxt-link class="navbar__user-name"
                                   v-if="!isGuest"
                                   to="/profile">
                            {{ userName }}
                        </nuxt-link>

                        <nuxt-link class="navbar-item"
                                   v-if="isGuest"
                                   to="/auth/login">
                            Log In
                        </nuxt-link>

                        <a class="navbar__logout"
                           v-on:click.prevent="logout"
                           v-if="!isGuest">
                            Logout
                        </a>


                        <!--                        <a href="" class="navbar__user-name">-->
                        <!--                            user name-->
                        <!--                        </a>-->

                        <!--                        <a class="navbar__logout">-->
                        <!--                            выход-->
                        <!--                        </a>-->

                        <!--                        <div class="field is-grouped">-->
                        <!--                            <p class="control">-->
                        <!--                                <a class="button is-small is-primary is-outlined" href="">-->
                        <!--                                    <span>-->
                        <!--                                        Вход-->
                        <!--                                    </span>-->
                        <!--                                </a>-->
                        <!--                            </p>-->

                        <!--                            <p class="control">-->
                        <!--                                <a class="button is-small is-primary is-outlined" href="">-->
                        <!--                                    <span>-->
                        <!--                                        Регистрация-->
                        <!--                                    </span>-->
                        <!--                                </a>-->
                        <!--                            </p>-->
                        <!--                        </div>-->
                    </div>
                </div>
            </div>

        </div>
    </nav>
</template>


<script>
    export default {
        computed: {
            userName() {
                return this.$auth.loggedIn ? this.$auth.user.name : 'guest';
            },
            isGuest() {
                return !this.$auth.loggedIn;
            },
        },
        methods: {
            async logout() {
                await this.$auth.logout();
            },
        }
    }
</script>
