<style scoped lang="sass">
    @import "assets/sass/base_variables"
    @import "~bulma/sass/utilities/initial-variables.sass"
    @import "assets/sass/bulma/variables"
    @import "~bulma/sass/utilities/functions.sass"
    @import "~bulma/sass/utilities/derived-variables.sass"
    @import "~bulma/sass/utilities/animations.sass"
    @import "~bulma/sass/utilities/mixins.sass"

    .form-login
        margin-bottom: 30px

        &__wrap
            background-color: $base_color_white
            padding: 30px 30px 20px
            margin-bottom: 60px

            +mobile
                margin-bottom: 0

        &__info
            margin-bottom: 30px

    .login-additional-links
        +mobile
            margin-bottom: 20px
</style>

<template>
    <div class="columns is-centered">
        <div class="column is-6-tablet is-5-desktop is-4-widescreen form-login__wrap">

            <h1 class="is-4 subtitle">
                Авторизация на сайте
            </h1>

            <div class="form-login">
                <div class="field">
                    <label class="label">
                        Электронная почта
                    </label>
                    <div class="control">
                        <input
                            v-model="email"
                            name="email"
                            class="input"
                            type="text"
                            autofocus>
                    </div>

                    <p class="help is-danger">
                        error here
                    </p>
                </div>

                <div class="field">
                    <label class="label">
                        Пароль
                    </label>
                    <div class="control">
                        <input
                            v-model="password"
                            name="password"
                            class="input"
                            type="password">
                    </div>

                    <p class="help is-danger">
                        pass error
                    </p>
                </div>

                <div class="field">
                    <div class="buttons">
                        <button class="button is-primary"
                                v-on:click="login"
                                type="submit">
                            Войти
                        </button>
                        <label class="button is-text">
                            <input type="checkbox" style="margin-right: 5px">
                            Запомнить меня
                        </label>
                    </div>
                </div>
            </div>

            <div class="login-additional-links">
                <div class="columns is-mobile">
                    <div class="column is-narrow">
                        <a>
                            Я забыл свой пароль
                        </a>
                    </div>
                    <div class="column">
                        <a>
                            Регистрация
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        middleware: ['guestOnly'],
        data() {
            return {
                email: null,
                password: null
            }
        },
        methods: {
            async login() {
                const email = this.email;
                const password = this.password;

                await this
                    .$auth
                    .loginWith('local', {
                        data: {email, password},
                    })
                    .catch((e) => {
                        console.log(e);
                    })
            }
        }
    }
</script>
