<template>
    <div class="columns is-centered">
        <div class="column is-4">

            <div class="box">
                <h1>register page</h1>


            </div>
        </div>
    </div>
</template>

<script>
    export default {
        middleware: ['guestOnly'],
    }
</script>
