<style lang="sass">
    @import "../../assets/sass/base_variables"

    .footer
        padding: 4rem 1.5rem 4rem
        color: $base_color_white
        font-size: 13px

        a
            color: $base_color_white

            &:hover
                text-decoration: underline

        &__categories
            a
                display: block
                font-size: 13px
                color: $base_color_yellow

        &__site-name
            text-transform: uppercase
            color: $base_color_yellow
            display: block
            margin-bottom: 10px
            margin-right: 40px


        &__search-form
            margin-bottom: 10px

            input
                background-color: #ccc
                border-color: #ccc
                height: 30px

                &:hover, &:focus
                    border-color: #eee
                    border-right-color: transparent
                    box-shadow: none

            button
                height: 30px

</style>


<template>
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-narrow">
                    <strong class="footer__site-name">
                        houserepair.info © {{ year }}
                    </strong>

                    <ul>
                        <li>
                            <a href="">
                                Условия использования
                            </a>
                        </li>
                        <li>
                            <a href="mailto:help@houserepair.info">
                                help@houserepair.info
                            </a>
                        </li>
                    </ul>

                    <lang-switcher />
                </div>

                <div class="column is-hidden-mobile">
                    <div class="columns is-desktop">
                        <div class="column is-narrow footer__categories">
                            234
                        </div>

                        <div class="column is-narrow footer__categories">
                            234
                        </div>
                    </div>
                </div>


                <div class="column is-4">
                    <form action="" class="footer__search-form">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input is-small" name="q" type="text"
                                       placeholder="Название компании или услуги">
                            </div>
                            <div class="control">
                                <button type="submit" class="button is-info is-small">
                                    поиск
                                </button>
                            </div>
                        </div>
                    </form>

                    <p>
                        Информация носит исключительно ознакомительный характер и не является публичной офертой.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</template>


<script>
    import LangSwitcher from '~/components/footer/LangSwitcher';

    export default {
        computed: {
            year: () => new Date().getFullYear()
        },
        components: {
            LangSwitcher
        },
    }
</script>
