<style lang="sass" scoped>
    .lang-switch
        padding-top: 1rem

        .icon
            width: 20px
            height: 20px
</style>


<template>
    <div class="columns lang-switch is-variable is-1">
        <a href="?lang=ru" class="column is-narrow" v-bind:title="$t('langSwitchTo.ru')">
            <img src="/icons/ru.svg" class="icon">
        </a>
        <a href="?lang=en" class="column" v-bind:title="$t('langSwitchTo.en')">
            <img src="/icons/usa.svg" class="icon">
        </a>
    </div>
</template>


<script>
    export default {
        name: "LangSwitcher"
    }
</script>
