<style lang="sass" rel="stylesheet/sass">
    .add-company-banner
        .add-company-icon
            width: 15px
            height: 15px
            margin-right: 10px !important
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="sidebar-box add-company-banner">

        <div class="title is-5">
            Add company
        </div>

        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus doloremque ducimus, ipsum iure nulla
            perferendis rem. Accusamus aspernatur consequuntur doloribus harum.
        </p>

        <a class="button is-small is-primary" href="#">
            <span class="add-company-icon icon">
                <img src="/icons/catalog.svg">
            </span>

            <span>
                Add company
            </span>
        </a>

    </div>
</template>


<script type="text/babel">
    export default {
        name: "AddCompanyBanner",
    }
</script>
