<style lang="sass" rel="stylesheet/sass">
    @import "../../assets/sass/base_variables"

    .company-preview
        display: block
        margin-bottom: 10px
        border: 1px solid #eee
        padding: 10px 15px

        &__name
            font-weight: bold
            font-family: $font_family_headers
            text-transform: uppercase

        &__occupation
            color: #777

        &__addresses
            margin-top: -10px
            font-size: 14px

        &__stats
            display: inline-flex

        &__counter
            padding-left: 5px !important
            padding-right: 5px !important
            min-width: 45px

            img
                width: 16px
                height: 16px
                margin-right: 5px

        .tooltip:hover:before
            text-transform: uppercase
            font-size: 13px
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <article class="company-preview">

        <div class="columns">
            <div class="column">
                <nuxt-link :to="{name: 'companies-slug', params: {slug: company.slug}}" class="company-preview__name">
                    {{ company.name }}
                </nuxt-link>

                <div class="company-preview__occupation" v-if="company.occupation">
                    {{ company.occupation }}
                </div>
            </div>

            <div class="column is-narrow">
                <span
                    class="tag is-light company-preview__counter tooltip is-tooltip-left"
                    data-tooltip="company has 15 images">
                    <img src="/icons/company/company-images.svg" alt="company images">
                    15
                </span>

                <span
                    class="tag is-light company-preview__counter tooltip is-tooltip-left"
                    data-tooltip="company has 6 comments">
                    <img src="/icons/company/company-comments.svg" alt="company comments">
                    6
                </span>

                <span
                    class="tag is-light company-preview__counter tooltip is-tooltip-left"
                    data-tooltip="company has 32 services">
                    <img src="/icons/company/company-services.svg" alt="company services">
                    32
                </span>
            </div>
        </div>

    </article>
</template>


<script type="text/babel">
    export default {
        name: "CompaniesPreview",
        props: {
            company: {
                type: Object,
                require: true
            }
        },
        computed: {
        },
    }
</script>
