<style lang="sass" scoped>
    @import "../../assets/sass/base_variables"

    .filter
        &__item
            margin-bottom: 5px

            &_search
                margin-bottom: 20px

            &_category-select
                margin-top: 20px

            &:last-child
                margin-bottom: 0

            label
                text-transform: uppercase

        &__search-input
            border-width: 0

        &__search-icon
            width: 15px
            height: 15px

        .switch[type=checkbox].is-small + label
            padding-top: 2px

        .switch[type=checkbox].is-warning:checked + label:before
            background-color: rgba($base_color_yellow, .7)

        .switch[type=checkbox] + label:before
            background-color: rgba(#b5b5b5, .4)
</style>


<template>
    <div class="filter">
        <form v-on:submit.prevent="applyFilter">
            <div class="filter__item filter__item_search">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <label>
                            <input class="input filter__search-input is-small"
                                   type="text"
                                   v-model="query"
                                   placeholder="search">
                        </label>
                    </div>

                    <div class="control">
                        <button type="submit"
                                class="button is-info is-small">
                            <img src="/icons/filter-search.svg"
                                 class="filter__search-icon"
                                 alt="search">
                        </button>
                    </div>
                </div>
            </div>

            <div class="filter__item">
                <input class="switch is-rounded is-warning is-small"
                       id="portfolio"
                       v-on:change="applyFilter"
                       v-model="params.has_portfolio"
                       type="checkbox">

                <label for="portfolio">
                    has portfolio
                </label>
            </div>

            <div class="filter__item">
                <input class="switch is-rounded is-warning is-small"
                       id="comments"
                       v-on:change="applyFilter"
                       v-model="params.has_reviews"
                       type="checkbox">

                <label for="comments">
                    has reviews
                </label>
            </div>

            <div class="filter__item">
                <input class="switch is-rounded is-warning is-small"
                       id="prices"
                       v-on:change="applyFilter"
                       v-model="params.has_prices"
                       type="checkbox">

                <label for="prices">
                    has price list
                </label>
            </div>

            <div class="filter__item filter__item_category-select">
                <!--                <category-select></category-select>-->
            </div>
        </form>
    </div>
</template>


<script>
    export default {
        name: "CompaniesFilter",
        data: () => ({
            query: null,
            params: {
                has_portfolio: null,
                has_reviews: null,
                has_prices: null,
            }
        }),
        methods: {
            applyFilter() {
                let params = {};
                for (const paramsKey in this.params) {
                    params[paramsKey] = this.params[paramsKey];
                }
                this.$store.dispatch('companies/updateFilters', {
                    query: this.query,
                    params: params
                });
            },
        }
    }
</script>

