<style lang="sass" scoped>
    @import "../../assets/sass/base_variables"

    .companies-list
        &__empty
            height: 27px
            width: 100%
            display: flex
            align-items: center
            justify-content: center

            span
                font-size: 25px
                margin-left: 10px

        &__preloader
            height: 27px
            width: 100%
            display: flex
            align-items: center
            justify-content: center
            color: $base_color_gray_light
</style>


<template>
    <section class="companies-list">
        <skeleton-loading-indicator v-if="!companies.length && isWait" />

        <ul>
            <li v-for="company in companies">
                <company-preview :company="company"></company-preview>
            </li>
        </ul>

        <strong
            class="companies-list__empty"
            v-show="!companies.length && !isWait">
            No results, sorry <span>😬</span>
        </strong>

        <pagination-load-more v-show="hasMoreCompanies && !isWait" />

        <strong v-show="isWait && !isFirstPage"
                class="companies-list__preloader">
            loading...
        </strong>
    </section>
</template>


<script>
    import CompanyPreview from '~/components/companies/CompanyPreview';
    import PaginationLoadMore from '~/components/companies/PaginationLoadMore';
    import SkeletonLoadingIndicator from '~/components/companies/SkeletonLoadingIndicator/Indicator';

    import {mapGetters} from 'vuex';

    export default {
        name: 'CompaniesList',
        data: () => ({}),
        components: {
            CompanyPreview,
            PaginationLoadMore,
            SkeletonLoadingIndicator
        },
        computed: {
            ...mapGetters({
                pagination: 'companies/getPagination',
                companies: 'companies/getCompanies',
                isWait: 'companies/isWait',
            }),
            hasMoreCompanies() {
                let balance = this.pagination ? Math.max(0, this.pagination.total - (this.pagination.perPage * this.pagination.current)) : 0;
                return balance > 0;
            },
            isFirstPage() {
                return !this.pagination || !this.pagination.hasOwnProperty('total');
            }
        },
    }
</script>
