<style lang="sass" rel="stylesheet/sass">
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <button
        :disabled="disabled"
        class="button is-small is-fullwidth"
        v-on:click="loadMore"
        v-show="balance">
        {{ title }}
    </button>
</template>


<script type="text/babel">
    import {mapGetters, mapActions} from 'vuex';

    export default {
        name: 'PaginationLoadMore',
        props: {
            disabled: {
                type: Boolean
            },
        },
        computed: {
            ...mapGetters({
                pagination: 'companies/getPagination',
                isWait: 'companies/isWait',
            }),
            balance() {
                return this.pagination ? Math.max(0, this.pagination.total - (this.pagination.perPage * this.pagination.current)) : 0;
            },
            title() {
                return this.balance ? `Load next ${this.balance} items` : '';
            }
        },
        methods: {
            ...mapActions({
                loadMore: 'companies/loadMore',
            })
        },
    }
</script>
