<style lang="sass" rel="stylesheet/sass">
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="sidebar-box is-hidden-mobile" ref="share">
        <div class="title is-5">
            Social networks
        </div>

        <p>
            Share company page «{{ companyName }}»:
        </p>

        <div class="ya-share2"
             data-services="vkontakte,facebook,odnoklassniki,viber,whatsapp,skype,telegram"></div>
    </div>
</template>


<script type="text/babel">
    export default {
        name: "ShareCompany",
        props: {
            companyName: {
                type: String,
                required: true,
            }
        },
        mounted() {
            if (window.Ya === undefined) {
                const esScript = document.createElement('script');
                esScript.setAttribute('src', '//yastatic.net/es5-shims/0.0.2/es5-shims.min.js');
                document.head.appendChild(esScript);

                const shareScript = document.createElement('script');
                shareScript.setAttribute('src', '//yastatic.net/share2/share.js');
                document.head.appendChild(shareScript);
            }
        }
    }
</script>
