<template>
    <div class="columns is-centered">
        <div class="column is-4">

            <div class="box">
                <h1>profile page</h1>

                <p>
                    Welcome, {{ userName }}
                </p>


                <button v-on:click.prevent="check">
                    check
                </button>
            </div>

        </div>
    </div>
</template>

<script>
    export default {
        middleware: ['auth'],
        computed: {
            userName() {
                return this.$auth.loggedIn ? this.$auth.user.name : 'guest';
            },
        },
        methods: {
            check() {
                this.$axios.get('/api/auth/check');
            }
        }
    }
</script>
