<style lang="sass">
    @import "assets/sass/base_variables"
    @import "~bulma/sass/utilities/initial-variables.sass"
    @import "assets/sass/bulma/variables"
    @import "~bulma/sass/utilities/functions.sass"
    @import "~bulma/sass/utilities/derived-variables.sass"
    @import "~bulma/sass/utilities/animations.sass"
    @import "~bulma/sass/utilities/mixins.sass"

    .page
        display: flex
        min-height: 100vh
        flex-direction: column

        &__content
            overflow: hidden
            flex: 1

            &__bg
                background-color: $base_color_white
                padding: 20px
                margin-bottom: 50px

                +mobile
                    margin-bottom: 0
                    border-bottom: 1px solid $base_color_white

                &_gray
                    background-color: $base_color_gray
                    color: #ddd

        &__nav
            +tablet
                margin-bottom: 50px
</style>


<template>
    <div class="page">
        <div class="page__nav">
            <top-bar />
        </div>

        <div class="page__content">
            <nuxt />
        </div>

        <footer-box />
    </div>
</template>


<script>
    import FooterBox from '~/components/footer/Footer';
    import TopBar from '~/components/TopBar';

    export default {
        components: {
            FooterBox,
            TopBar
        }
    }
</script>
