<template>
    <section class="hero is-fullheight welcome-page">

        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-10-desktop is-12-tablet is-9-widescreen is-9-fullhd">

                        <div class="welcome">
                            <div class="welcome__description">
                                <div class="title">
                                    house<span>repair</span>.info
                                </div>

                                <h1 class="subtitle">
                                    {{ $t('welcome.header') }}
                                </h1>

                                <p v-html="$t('welcome.info')"></p>

                                <p>&nbsp;</p>

                                <nuxt-link to="/companies" class="button is-outlined is-dark is-small">
                                    {{ $t('navigation.companies') }}
                                </nuxt-link>

                                <nuxt-link to="/" class="button is-outlined is-dark is-small">
                                    {{ $t('navigation.store') }}
                                </nuxt-link>

                                <nuxt-link to="/" class="button is-outlined is-dark is-small">
                                    {{ $t('navigation.services') }}
                                </nuxt-link>

                                <nuxt-link to="/" class="button is-outlined is-dark is-small">
                                    {{ $t('navigation.prices') }}
                                </nuxt-link>
                            </div>

                            <div class="welcome__contacts">
                                <div class="welcome__contacts__item">
                                    <nuxt-link to="/profile/companies/create" class="button is-info">
                                        <img src="/icons/catalog.svg" class="add-company-icon">
                                        {{ $t('welcome.addCompany') }}
                                    </nuxt-link>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>
</template>

<style lang="sass">
    @import "assets/sass/base_variables"
    @import "~bulma/sass/utilities/initial-variables.sass"
    @import "assets/sass/bulma/variables"
    @import "~bulma/sass/utilities/functions.sass"
    @import "~bulma/sass/utilities/derived-variables.sass"
    @import "~bulma/sass/utilities/animations.sass"
    @import "~bulma/sass/utilities/mixins.sass"

    .welcome-page
        .hero
            .container
                +mobile
                    padding: 5px

            .hero-body
                +mobile
                    padding: 0

            .columns
                +mobile
                    margin: 0

            .column
                +mobile
                    padding: 0

            .welcome
                +mobile
                    padding: 25px 20px


        .welcome
            background-color: #FFCA28
            border-radius: 3px
            padding: 35px 40px

            &__description
                margin-bottom: 30px

                p
                    font-size: 14px

                .button
                    text-transform: uppercase
                    margin-bottom: 2px

            &__contacts
                border-top: 2px solid #f3f3f3
                padding-top: 30px

                &__item
                    margin-bottom: 5px
                    display: inline-block

                .button
                    text-transform: uppercase
                    white-space: normal

                    +mobile
                        height: auto

            .title
                font-size: 70px
                text-transform: uppercase
                color: #fff
                font-family: $font_family_headers
                font-weight: bold
                margin-left: -4px

                +mobile
                    font-size: 7vw

                span
                    color: #444
                    font-family: $font_family_headers
                    margin: 0 4px

            .subtitle
                color: #555

                +mobile
                    font-size: 15px

        .add-company-icon
            width: 16px
            height: 16px
            margin-right: 10px
</style>

<script>
    export default {
        layout: 'full-height'
    }
</script>
