html
    background-color: $base_color_gray

body
    background-color: $base_color_gray
    background-image: url('/images/bg-s.jpg')
    background-repeat: no-repeat
    background-position: center center
    background-size: cover
    background-attachment: fixed


.list-title
    font-family: $font_family_headers
    font-size: 27px
    margin-bottom: 24px
    text-transform: uppercase

    &_white
        color: #eee

.list-subtitle
    font-family: $font_family_headers
    font-size: 18px
    margin-bottom: 24px
    color: $base_color_gray_light
    text-transform: uppercase

.list-title + .list-subtitle
    margin-top: -24px
