.two-columns-content
    +tablet
        margin-bottom: 50px

    &__sidebar
        background-color: $base_color_gray

    &__section
        background-color: $base_color_white
        padding: 30px 20px

.sidebar-box
    background-color: rgba(255, 255, 255, 0.09)
    padding: 40px
    margin: 0 -0.75rem 0
    border-bottom: 1px dashed #727272
    overflow: hidden
    color: #ddd

    +tablet-only
        padding: 20px 25px 20px 25px

    +desktop-only
        padding: 20px 25px 20px 25px

    &:last-child
        border-bottom: none

    p
        color: #ddd
        font-size: 13px
        line-height: 18px
        margin-bottom: 20px

    .title
        color: #eee
        margin-bottom: 10px

