<style lang="sass" scoped>
    .figure
        width: 100%
        min-height: 100px
        display: block
        border: 1px solid #eee
        padding: 15px 15px
        margin-bottom: 10px

        .main-line, .additional-line
            background-color: #f3f3f3
            border-radius: 5px


        @keyframes loading-main
            0%
                width: 0
            100%
                width: 50%

        .main-line
            height: 20px
            margin-bottom: 15px
            width: 0
            animation-name: loading-main
            animation-duration: .8s
            animation-iteration-count: 1
            animation-timing-function: ease-out
            animation-fill-mode: forwards


        @keyframes loading-additional
            0%
                width: 0
            100%
                width: 75%

        .additional-line
            height: 15px
            margin-bottom: 5px
            width: 0
            animation-name: loading-additional
            animation-iteration-count: 1
            animation-timing-function: ease-out
            animation-fill-mode: forwards

            &:nth-child(2)
                animation-duration: 1s
                animation-delay: .5s

            &:nth-child(3)
                animation-duration: 1s
                animation-delay: .7s

        @keyframes loading-counters
            0%
                opacity: 0
            100%
                opacity: 100%

        .counter
            background-color: #f3f3f3
            width: 30px
            height: 20px
            border-radius: 5px
            display: inline-block
            opacity: 0
            animation-name: loading-counters
            animation-iteration-count: 1
            animation-timing-function: ease-out
            animation-fill-mode: forwards

            &:nth-child(1)
                animation-duration: .5s
                animation-delay: 1.6s

            &:nth-child(2)
                animation-duration: .5s
                animation-delay: 1.8s

            &:nth-child(3)
                animation-duration: .5s
                animation-delay: 2s
</style>


<template>
    <div class="figure" ref="wrap">
        <div class="columns">
            <div class="column">
                <div class="main-line"></div>
                <div class="additional-line"></div>
                <div class="additional-line"></div>
            </div>
            <div class="column is-narrow">
                <span class="counter"></span>
                <span class="counter"></span>
                <span class="counter"></span>
            </div>
        </div>
    </div>
</template>


<script>
    export default {
        name: "Figure",
    }
</script>

