<style lang="sass" scoped>
    @import "../../../assets/sass/base_variables"
</style>


<template>
    <div class="indicator">
        <figure-indicator v-for="item in amount" :key="item" />
    </div>
</template>


<script>
    import Figure from '~/components/companies/SkeletonLoadingIndicator/Figure';

    export default {
        name: "Indicator",
        components: {
            FigureIndicator: Figure
        },
        data: () => ({
            amount: 1,
        }),
        props: {
            figureAmount: {
                type: Number,
                required: false,
                default: 3
            },
        },
        mounted() {
            const createFigureInterval = () => {
                return setInterval(() => {
                    if (this.amount < this.figureAmount) {
                        this.amount++;
                    }
                }, 2000);
            }

            let interval = createFigureInterval();
            setInterval(() => {
                this.amount = 0;
                setTimeout(() => {
                    this.amount = 1;
                }, 300);
                clearInterval(interval);
                interval = createFigureInterval();
            }, (this.figureAmount * 2000) + 1500)
        }
    }
</script>

