*
    font-family: $font_family_content

h1, h2, h3, h4, h5, h6, .header-title
    font-family: $font_family_headers
    text-transform: uppercase

.pagination-list
    +mobile
        display: none

.user-profile-menu
    margin: 0 -.75rem

    .menu-label
        color: #b7b7b7
        margin-left: 2rem
        margin-top: 25px

    a
        color: $base_color_yellow
        padding: 0.3em 2em

    .menu-list a
        border-radius: 0

    .menu-list-exit
        padding-top: 20px
