.user-sidebar
    background: rgba(#fff, .1)
    position: relative
    min-height: 80px
    padding: 10px 0 20px
    margin: 0 -.75rem 20px

    &__avatar
        position: absolute
        top: 10px
        left: 10px

        img
            width: 60px
            height: 60px

    &__info
        color: #eee
        padding: 8px 0 0 80px

        &__name
            font-size: 14px
            font-weight: bold
            height: 20px
            overflow: hidden

        &__text
            font-size: 14px
            overflow: hidden
