.company-preview
    display: block
    margin-bottom: 10px
    border: 1px solid #eee
    padding: 10px 15px

    &__title
        font-weight: bold
        font-family: $font_family_headers
        text-transform: uppercase

    &__specialization
        color: #777

    &__addresses
        margin-top: -10px
        font-size: 14px
